.vs/*
packages
bin/
obj/
/tolson.BoosterStation/bin/Debug/tolson.BoosterStation.exe.config
/tolson.BoosterStation/bin/Debug/xbd.ControlLib.dll
/tolson.BoosterStation/bin/Debug/xbd.ControlLib.pdb
/xbd.ControlLib/.vs/xbd.ControlLib.csproj.dtbcache.json
/xbd.ControlLib/bin/Debug/xbd.ControlLib.dll
/xbd.ControlLib/bin/Debug/xbd.ControlLib.pdb
/xbd.ControlLib/obj/Debug/xbd.ControlLib.pdb
/xbd.ControlLib/obj/Debug/xbd.ControlLib.dll
/xbd.ControlLib/obj/Debug/xbd.ControlLib.csproj.FileListAbsolute.txt
/xbd.ControlLib/xbd.ControlLib.csproj.user
